## Data Exploration With Pandas

In this notebook we will analyse hypothetical migration data.

In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set()
import json

### 1.  Loading and getting familiar with data

In [27]:
with open('data/sample.json','r')as f:
    mig =  json.load(f)

In [28]:
mig[0]

{'ID': '82Q6H2OCLB',
 'age': 42,
 'gender': 'male',
 'profession': {'major': 'Arts, Design, Entertainment, Sports, and Media Occupations',
  'branch': 'Interior Designers'},
 'interest': 'stories',
 'home_address': {'province': 'PN1',
  'district': 'Panchthar',
  'MCP': 'Miklajung RM',
  'ward': 'Ward 6'},
 'foreign_address': {'country': 'Aruba',
  'ID': 'AW',
  'lat': '12.52111',
  'lon': '-69.968338',
  'city': 'ORANJESTAD'},
 'date_out': '2015.2.12',
 'date_return': '2019.3.9',
 'fund2invest': {'invetsment sector': '8%',
  'tourism and hospitality': '2%',
  'animal husbandary': '6%',
  'infrastructure': '8%',
  'cottage industries': '6%',
  'personal service business': '10%',
  'retail business': '4%',
  'consultancy service': '2%',
  'alternative energy': '6%',
  'agriculture': '8%',
  'total_fund': 7109},
 'remittance': [{'month': 6, 'amount': 459},
  {'month': 3, 'amount': 466},
  {'month': 3, 'amount': 794},
  {'month': 8, 'amount': 400}],
 'travell': [{'date': '2017.11.7',
   'place': {'country': 'Lithuania', 'city': 'Panevezhis'}},
  {'date': '2015.1.26', 'place': {'country': 'Papua-New-Guinea', 'city': 'N'}},
  {'date': '2019.7.5',
   'place': {'country': 'Macedonia-[FYROM]', 'city': 'A'}}],
 'social_work': [{'date': '2002.7.6', 'work': 'pollution control'},
  {'date': '2012.1.15', 'work': 'workshop for young'}],
 'personal_view': ['While all parties involved in the construction process have contributed to the current fiasco, one lesson is especially poignant as stakeholders take the next necessary steps to identify a new contractor: more thoughtful deliberation must factor into procurement decisions. A number of factors—including corruption, mismanagement, deviation from contract promises, sluggish cash flow, and a circular bout of finger pointing—has played into the current Melamchi saga. But tussles between contractors and government officials, often manifesting in contract terminations, have featured heavily in these delays.']}

In [29]:
df = pd.DataFrame(mig)
df = df.set_index('ID')
df.head(1)

,age,date_out,date_return,foreign_address,fund2invest,gender,home_address,interest,personal_view,profession,remittance,social_work,travell
ID,,,,,,,,,,,,,
82Q6H2OCLB,42,2015.2.12,2019.3.9,"{'country': 'Aruba', 'ID': 'AW', 'lat': '12.52...","{'invetsment sector': '8%', 'tourism and hospi...",male,"{'province': 'PN1', 'district': 'Panchthar', '...",stories,[While all parties involved in the constructio...,"{'major': 'Arts, Design, Entertainment, Sports...","[{'month': 6, 'amount': 459}, {'month': 3, 'am...","[{'date': '2002.7.6', 'work': 'pollution contr...","[{'date': '2017.11.7', 'place': {'country': 'L..."

In [30]:
df.shape

(1000, 13)

In [31]:
df.columns

Index(['age', 'date_out', 'date_return', 'foreign_address', 'fund2invest',
       'gender', 'home_address', 'interest', 'personal_view', 'profession',
       'remittance', 'social_work', 'travell'],
      dtype='object')

In [32]:
df.index

Index(['82Q6H2OCLB', '53OHV7F4E3', '66C9X10E0M', '7A6VKHNE9Q', 'K8P0CX2V99',
       '9ZMLWRZO17', 'JQPP89162S', 'QP373XQ6S3', 'V4TI4Q471M', 'IEWHWW4MV6',
       ...
       'K7A2AOWW2F', '49N6Y1010C', '1NT8P67V5I', 'EX6TWC9U1T', '7Y3CZ49704',
       'JA7FB4PRVZ', 'REOU6TJU0B', '59G172SSYN', '8595VF97O2', 'M3L69T086M'],
      dtype='object', name='ID', length=1000)

### 2. Simple Queries

- Create a new column for ```province``` and ```district```

In [36]:
df['province'] = df['home_address'].apply(lambda x: x['province'])
df['district'] = df['home_address'].apply(lambda x: x['district'])
df.head(1)

,age,date_out,date_return,foreign_address,fund2invest,gender,home_address,interest,personal_view,profession,remittance,social_work,travell,province,district
ID,,,,,,,,,,,,,,,
82Q6H2OCLB,42,2015.2.12,2019.3.9,"{'country': 'Aruba', 'ID': 'AW', 'lat': '12.52...","{'invetsment sector': '8%', 'tourism and hospi...",male,"{'province': 'PN1', 'district': 'Panchthar', '...",stories,[While all parties involved in the constructio...,"{'major': 'Arts, Design, Entertainment, Sports...","[{'month': 6, 'amount': 459}, {'month': 3, 'am...","[{'date': '2002.7.6', 'work': 'pollution contr...","[{'date': '2017.11.7', 'place': {'country': 'L...",PN1,Panchthar

- Create a new column for ```foreign-country```

In [37]:
df['foreign-country'] = df['foreign_address'].apply(lambda x: x['country'])
df['foreign-city'] = df['foreign_address'].apply(lambda x: x['city'])
df.head(1)

,age,date_out,date_return,foreign_address,fund2invest,gender,home_address,interest,personal_view,profession,remittance,social_work,travell,province,district,foreign-country,foreign-city
ID,,,,,,,,,,,,,,,,,
82Q6H2OCLB,42,2015.2.12,2019.3.9,"{'country': 'Aruba', 'ID': 'AW', 'lat': '12.52...","{'invetsment sector': '8%', 'tourism and hospi...",male,"{'province': 'PN1', 'district': 'Panchthar', '...",stories,[While all parties involved in the constructio...,"{'major': 'Arts, Design, Entertainment, Sports...","[{'month': 6, 'amount': 459}, {'month': 3, 'am...","[{'date': '2002.7.6', 'work': 'pollution contr...","[{'date': '2017.11.7', 'place': {'country': 'L...",PN1,Panchthar,Aruba,ORANJESTAD

- How many are in ```foreign-country``` Japan?

Hint: Use ```Filter```

In [38]:
df[df['foreign-country']=='Japan'].shape

(6, 17)

- How many are in ```district``` Jhapa?

Hint: Use ```Filter```

In [39]:
df[df['district']=='Jhapa'].shape

(12, 17)

- Collect the statistics based on country

Hint: Use ```groupby``` followed by ```size```

In [40]:
df.groupby('foreign-country').size().head()

foreign-country
Afghanistan       3
Albania           5
Algeria           5
American-Samoa    3
Andorra           7
dtype: int64

- What is the mean age of people from ```Jumla```

Hint: Use ```Filter``` for district ```Jumla``` and select column ```age``` then apply ```mean()```

In [69]:
df[df['district']=='Jumla']['age'].mean()

41.0

- Create a table for mean ```age``` of people from each ```district```

Hint: Use ```groupby``` district and selest ```age``` column then implement ```aggregate``` with ```mean``` key word

In [46]:
df.groupby('district')['age'].aggregate('mean').head()

district
Achham          38.923077
Arghakhanchi    37.090909
Baglung         34.692308
Baitadi         39.500000
Bajhang         35.588235
Name: age, dtype: float64

- Count the number of people in each of the ```foreign-country``` who has age below <30.

Hint: create ```user-defined-function``` for counting age below 30 and supply the function inside ```aggregate``` functionality after ```groupby``` operation over ```foreign-country```

In [59]:
def age_count(col):
    count = 0
    for item in col:
        if item<30:
            count= count+1
    return count
            
    
df.groupby('foreign-country')['age'].aggregate(age_count).head()

foreign-country
Afghanistan       0
Albania           1
Algeria           0
American-Samoa    1
Andorra           2
Name: age, dtype: int64

- How many people from ```Jhapa``` are in ```Japan```?

Hint: Use double ```Filter``` for ```district``` and ```foreing-country```

In [68]:
ddf = df[df['district']=='Jhapa']
ddf[ddf['foreign-country']=='Japan']

,age,date_out,date_return,foreign_address,fund2invest,gender,home_address,interest,personal_view,profession,remittance,social_work,travell,province,district,foreign-country,foreign-city
ID,,,,,,,,,,,,,,,,,
KG908X485D,40,2013.8.19,2020.10.26,"{'country': 'Japan', 'ID': 'JP', 'lat': '36.20...","{'invetsment sector': '1%', 'tourism and hospi...",male,"{'province': 'PN1', 'district': 'Jhapa', 'MCP'...",singing,"[Granted, these initiatives are nothing new—th...",{'major': 'Transportation and Material Moving ...,"[{'month': 1, 'amount': 213}, {'month': 1, 'am...","[{'date': '2010.11.20', 'work': 'donation for ...","[{'date': '2015.9.1', 'place': {'country': 'Gu...",PN1,Jhapa,Japan,Yonago

### Assignment
1. Create a dataframe for male and female separately. What is the shape of the data?
2. Create a dataframe for male and female separately and find out (a) how many female are in abroad from each of the district (b) how many male are in the each of the foreign country?
3. What is the difference in mean value of age of male and female from district Jumla?
4. How many females are there in Japan from Jhapa?